.hideForm {
  display: none;
}

.focus {
  padding: 20px;
}

#focusText {
  background-color: white;
  padding: 10px;
  min-width: 300px;
  margin: 3px 0px;
}

.groupField {
  justify-content: center;
  padding-bottom: 10px;
}
