.App {
  text-align: center;
}

a:link,
a:visited {
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  line-height: 46.5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

a:hover {
  color: #f5b82e;
}

.MuiTabs-flexContainer {
  flex-wrap: wrap;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding-bottom: 20px;
  background-color: #000000;
}

.hideTimer {
  display: none;
}

button {
  padding: 10px;
}

.App-header {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  flex-wrap: wrap;
}

.title {
  font-size: 60px;
}

.logo img {
  width: 100%;
  display: block;
}

.focusQuestion {
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  background-color: #ffeb3b;
  word-wrap: break-word;
  padding-top: 10px;
  padding-bottom: 10px;
}

.showTimer {
  margin: auto;
}

.MuiButtonGroup-root {
  margin: 20px;
}

.alertField {
  padding: 20px 20px 0px 20px;
  justify-content: center;
  display: flex;
}
